<div class="row contenedor">
  <div>
    <h1>Hard & Soft skills</h1>
    <circle-progress class="progreso col-sm-8 col-md-4 col-lg-4"
    [percent]="85"
    [radius]="100"
    [title]="'HTML'"
    [showSubtitle]="false"
    [showUnits]="false"
    [showImage]="true"
    [imageSrc]="'../../../assets/img/html.png'"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#209fee'"
    [innerStrokeColor]="'#acc7d8'"
    [animation]="true"
    [animationDuration]="600"
    ></circle-progress>
    <circle-progress class="progreso col-sm-8 col-md-4 col-lg-4"
    [percent]="80"
    [radius]="100"
    [title]="'CSS'"
    [showSubtitle]="false"
    [showUnits]="false"
    [showImage]="true"
    [imageSrc]="'../../../assets/img/CSS.png'"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#209fee'"
    [innerStrokeColor]="'#acc7d8'"
    [animation]="true"
    [animationDuration]="600"
    ></circle-progress>
    <circle-progress class="progreso col-sm-8 col-md-4 col-lg-4"
    [percent]="25"
    [radius]="100"
    [title]="'JS'"
    [showSubtitle]="false"
    [showUnits]="false"
    [showImage]="true"
    [imageSrc]="'../../../assets/img/js.png'"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#209fee'"
    [innerStrokeColor]="'#acc7d8'"
    [animation]="true"
    [animationDuration]="600"
    ></circle-progress>
    <circle-progress class="progreso col-sm-8 col-md-4 col-lg-4"
    [percent]="65"
    [radius]="100"
    [title]="'git'"
    [showSubtitle]="false"
    [showUnits]="false"
    [showImage]="true"
    [imageSrc]="'../../../assets/img/git.png'"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#209fee'"
    [innerStrokeColor]="'#acc7d8'"
    [animation]="true"
    [animationDuration]="600"
    ></circle-progress>
  </div>
</div>