*{
    overflow: hidden;
    padding: 0%;
}
.contenedor{
    background-color: rgb(129, 115, 255);
    color: rgb(24, 24, 24);
    margin-left: 0% !important;
    h1{
        margin-right: 0%;
        padding: 0%;
        width: 80%;
    }
    
}