<div class="row contenedor">
    <h1>Proyectos realizados: </h1>
    <div class="elemento">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <h3>Pagina web</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, itaque ullam porro quasi doloribus omnis quis illo dignissimos possimus dicta rerum consequuntur! Itaque sed natus quae, deserunt velit rem voluptatem?</p>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8">
            <a>linkaproyecto</a>
        </div>
    </div>
</div>