*{
    overflow: hidden;
}
.retrato{
    width: 90%;
    height: 90%;
    margin: 5%;
}
.contenedor{
    width: 100% !important;
    background-color: rgba(99, 32, 255, 0.788);
    margin: 0% !important;
}