<div class="row d-flex contenedor justify-content-center mt-lg-4">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
        <img src="../../../assets/img/afc304d6-2406-40b7-9258-5d4a7c33793b.jfif" class="img-fluid rounded retrato"  alt="imagencv">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
        <h2>Facundo Agustin Olivieri</h2>
        <h4>Full Stack Developer Jr</h4>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-8 col-lg-4">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dignissimos facere in beatae temporibus odio porro quia facilis quidem veniam aperiam unde error obcaecati, pariatur maxime? Esse quasi eaque totam.</p>
        </span>
    </div>
</div>